body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	/* background-image: url("../assets/Background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; */
}

body button {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.carousel-slide {
	background-image: '../assets/order_nest.png';
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
	color: blue;
}


.carousel-slide:hover {
	font-weight: 300;
}

.carousel-slide .order-nest {
	background-image: '../assets/order_nest.png';
}

h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: Italic;

}
